@font-face {
 	font-family: "Intro";
 	src: url("../assets/Intro.otf") format("truetype");
 	font-style: normal;
 	font-weight: normal;
 }
 @font-face {
 	font-family: "georgia";
 	src: url("../assets/georgia.ttf") format("truetype");
 	font-style: normal;
 	font-weight: normal;
 }
 @font-face {
 	font-family: "hdf5";
 	src: url("../assets/hdf_5.ttf") format("truetype");
 	font-style: normal;
 	font-weight: normal;
 } 
 .white-scr{
     opacity: 1;
     z-index: 19;
     height: 100vh;
     width: 100vw;
     background-color: #fff8f4;
     -webkit-transition: opacity 0.1s;
 	-moz-transition: opacity 0.1s;
     transition: opacity 0.1s;
 }
 
 html,body{
 padding: 0;
 margin: 0;
 width: 100vw;
height: 100vh;
 background-color: #fff8f4;
 overflow: hidden;
 }
 .First, .Second, .Third, .two-First, .two-Second, .three-First, .three-Second{
     width: 100vw;
     height: 100vh;
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .star, .defis{
     width:5vh;
     height:5vh;
     position: relative;
     background-position: center;
     background-size: 5vh;
     background-repeat: no-repeat;
 }
 .top-strel, .bottom-strel, .bottom-strel-2{
     height: 50vh;
     z-index: 3;
     width: 102vw;
     left: -1vw;
     box-shadow: inset 0px 6vh 21px 0px white;
     -webkit-transition: top 0.4s, bottom 0.4s;
 	-moz-transition:  top 0.4s, bottom 0.4s;
     transition:  top 0.4s, bottom 0.4s;
 }
 html,body,.strel-div,.three-text,.row{height: 100vh;}
 #h4-rules, #p-rules {
     opacity: 1;
     -webkit-transition: opacity 0.3s linear;
 	-moz-transition: opacity 0.3s linear;
     transition: opacity 0.3s linear;
 }
 .three-Second,.two-Second,.Second{z-index: 2;}
 .two-Second,.Second{top: -7vh;}
 h3, .two-Third,.three-text{font-family: Intro;}
 
 
 .First{background-image: url('../assets/main_first.webp');}
 .two-First{ background-image: url('../assets/back_first.webp');}
 .Second{background-image: url('../assets/main_second.webp');}
 .two-Second{background-image: url('../assets/back_second.webp');}
 .top-strel{top: -10vh;}
 .top-strel:hover{top: 0;}
 .bottom-strel:hover{bottom: -50vh;}
 .bottom-strel{bottom: -61vh;}
 h4{font-size: 5vh;}
 #p-rules{font-size: 3vh;}
 .pass{opacity: 0.7;}
 .bottom-strel-2:hover{ bottom: -30vh;}
 .stroke__item {animation: running-animation 90s linear infinite;}
 .mobile_first{
    background-image: url('../assets/mobile_first.webp');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.mobile_second{
    background-image: url('../assets/mobile_second.webp');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: 4;
}
.mobile_back_one, .mobile_back_two{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.mobile_text_one, .mobile_text_two{
    color: #fff8f4;
    text-align: center;
    font-family: Intro;
    width: 100vw;
    margin-left: -0.2%;
}
.mobile_text_one{
    z-index: 4;
    font-size: 26vw;
    top: 3%;
}
.mobile_text_two{
    z-index: 5;
    font-size: 35vw;
    bottom: 1%;
}
 .mobile_back_one{
    z-index: 2;
    background: -webkit-linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0) 100%);
    background: -moz-linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#000000",
    endColorstr="#000000",
    GradientType=1);
}
.mobile{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.mobile_page_two{
    background-image: url('../assets/mobile_third.webp');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: 6;
    font-family: Intro;

}
.mobile_page_two .text{
    text-align: center;
}
.mobile_back_two{
    z-index: 4;
    background: -webkit-linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.4) 100%);
    background: -moz-linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#000000",
    endColorstr="#000000",
    GradientType=1);
}
#strel-page-mobile-top{
    z-index: 9;
}
#strel-page-mobile-top .bottom-strel{
    bottom: -50vh;
}
 .loader{
     height: 100vh;
     width: 100vw;
     z-index: 9;
     background-image: url('../assets/load.svg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: 36vh;
     -webkit-transition: opacity 0.3s;
 	-moz-transition: opacity 0.3s;
     transition: opacity 0.3s;
 }
 .text_strel_right, .text_strel_left{
    background-image: url('../assets/strel.svg');
    width: 8vh;
    height:8vh;
    margin: 2vh;
    -webkit-transition: opacity 0.3s;
 	-moz-transition: opacity 0.3s;
     transition: opacity 0.3s;
 }
  .text_strel_right{
    rotate: 90deg;
  }
  .text_strel_left{
    rotate: -90deg;
  }
  .text_strel{
    width: 100vw;
  }
 .three-First{
     background-image: url('../assets/rules_back.webp');
     background-position: center;
 }
 .three-Second{
     background-image: url('../assets/rules_back_two.webp');
     background-position: center;
 }
 .strel{
     background-image: url('../assets/strel.svg');
     width: 8vh;
     height:8vh;
     margin: 2vh;
 }
 .two-Second{background-image: url('../assets/back_second.webp');}
 .defis{
     background-image: url('../assets/rules_defis.webp');  
     z-index: 10;
 }
 .star{
     background-image: url('../assets/rules_star.webp');
     z-index: 9;
     -webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
 	-moz-transition: width 0.3s, height 0.3s, background-size 0.3s;
     transition: width 0.3s, height 0.3s, background-size 0.3s;
 }
 .bottom-strel-2{
     height: 20vh;
     bottom: -40vh;
 }
 .test{
     bottom: 15vh;
     left: 16.5vw;
 }
 .star-strel{
     height: 56vh;
     top: 22vh;
     width: 52vw;
     left: 9vw;
     z-index: 5;
 }
 .left-strel, .right-strel{
     width: 26vw;
     -webkit-transition: opacity 0.3s;
 	-moz-transition: opacity 0.3s;
     transition: opacity 0.3s;
 }
 .left-strel:hover, .right-strel:hover{
     opacity: 0.7;
 }
 .strel-div{
     max-height:100vh;
     max-width: 100vw;
     overflow: hidden;
     z-index: 5;
 }
 .act{
     width: 6vh;
     height: 6vh;
     background-size: 6vh;
 }
 .star:hover{
     width: 6vh;
     height: 6vh;
     background-size: 6vh;
 }
 .three-text{
     text-align: center;
     width: 70vw;
     backdrop-filter: blur(3px);    
 }
 h3{
     font-size: 7vh;
     position: absolute;
     z-index: 4;
     left: 27vw;
     top: 15vh;
 }
 .two-Third{
     font-size: 8vh;
     text-decoration: none;
     z-index: 4;
     -webkit-transition: opacity 0.3s;
 	-moz-transition: opacity 0.3s;
     transition: opacity 0.3s;
     z-index: 15;
     top: 45vh;
     width: 60vh;
     left: 20vh;
 }
 .two-Third:hover{
 opacity: 0.8;
 }
 .Third{
     width: 55vw;
     height: 60vh;
     margin-left: 8vh;
     background-image: url('../assets/main_third.webp');
 }
 .stroke {
     z-index: 1;
     display: flex;
     width: 100vw;
     max-width: 3000px;
     margin: 0 auto;
     overflow: hidden;
     background-color: #fff8f4;
     font-size: 3vh;
 }
 .stroke__item, .stroke__item2{
    flex-shrink: 0;
     line-height: 1.5;
     font-weight: 900;
     text-transform: uppercase;
     white-space: nowrap;
     margin: 1.5vh;  
 }
 .stroke__item2{
     display: inline-block;
     padding-right: 100%; /* Создаем отступ равный ширине контейнера */
     animation: ANrunning-animation 90s linear infinite;
 } 
 .row{
     writing-mode: vertical-rl;
     line-height: 1.5;
     font-weight: 900;
     text-transform: uppercase;
     white-space: nowrap;
     margin: 1.5vh;  
     overflow: hidden;
     margin: 0 2vh;
     font-size: 4.5vh;
     opacity: 0.7;
 }
 .row p{
     margin: 0;
 }
 .row-div{
     display: inline-flex;
     top: 0;
     right: 15vh;
 }
 .row__item{
     animation: Vert-running-animation 20s linear infinite;
     font-family: hdf5;
 }
 .row__item2{
     animation: Vert-ANrunning-animation 20s linear infinite;
     font-family: hdf5;
 }
 @keyframes Vert-running-animation {
     0% { transform: translateY(0%); }
     100% { transform: translateY(-90%); }
 }
 @keyframes Vert-ANrunning-animation{
     0% { transform: translateY(-70%); }
     100% { transform: translateY(10%); }
 }
 @keyframes running-animation {
     0% { transform: translateX(0%); }
     100% { transform: translateX(-90%); }
 }
 @keyframes ANrunning-animation{
     0% { transform: translateX(-70%); }
     100% { transform: translateX(10%); }
 }
 .div-a{
     background: orange;
     width: 60vh;
     height: 9vh;
     left: 15vh;
     filter: blur(38px);
     z-index: 3;
 }
 .marginTOP100{
     transform: translateY(115vh);
 }
 .marginBOTTOM100{
     transform: translateY(-115vh);
 }
 #firstPage, #secondPage, #thirdPage{
    -webkit-transition: transform 1200ms linear;
 	-moz-transition: transform 1200ms linear;
     transition: transform 1200ms linear;
}
.p-rules{
    word-wrap: break-word;
    width: 75%;
    hyphens: auto;
    overflow-wrap: anywhere;
}
.text_strel_left:active, .text_strel_right:active{
    opacity: 0.6;
}
.mobile_page_two .top-strel:active, #strel-page-mobile-top .bottom-strel:active{
    opacity: 0.7;
}
.mobile_page_two .top-strel, #strel-page-mobile-top .bottom-strel{
    -webkit-transition: opacity 0.2s;
 	-moz-transition: opacity 0.2s;
     transition: opacity 0.2s;
}
.mobile_page_one{
    height: 100vh;
    width: 100vw;
    z-index: 7;
    margin-top: 0vh;
}
.mobile_page_one, .mobile_page_two{
    -webkit-transition: transform 1000ms linear;
 	-moz-transition: transform 1000ms linear;
     transition: transform 1000ms linear;
}
.mobile_page_two .top-strel{
      top: -1vh;
}
.alfa{
   text-align: center;
    width: 100vw;
    bottom: 6vh;
    color: #000000;
    text-decoration: none;
    font-size: xx-large;
    backdrop-filter: blur(3px);
    padding: 2vh 0;
    background-color: #fff0e887;
}
.text{
    backdrop-filter: blur(3px);
    padding: 2vh 0;
}
#secondPage, #thirdPage{
    width: 100vw;
    height: 100vh;
}
.mobile .strel{
    margin: 4vh;
}